.unity-button {
    font-size: 31px;
    background-color: rgba(180, 162, 86, 255);
    border-left-width: 2px;
    border-right-width: 2px;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-left-color: rgba(0, 0, 0, 255);
    border-right-color: rgba(0, 0, 0, 255);
    border-top-color: rgba(0, 0, 0, 255);
    border-bottom-color: rgba(0, 0, 0, 255);
}
