.unity-base-field {
    width: auto;
    font-size: 26px;
}

.unity-base-text-field {
    flex-direction: column;
}

.unity-text-field {
}

.unity-label {
    color: rgba(255, 255, 255, 255);
    font-size: 33px;
}

.unity-base-text-field__input {
    background-color: rgba(188, 188, 188, 255);
}

.unity-base-popup-field {
    width: 50%;
}
